/* START:: GLOBAL STYLES */
body{
  font-family: 'Cairo', sans-serif;;
}
/* END:: GLOBAL STYLES */


/*  START:: CUSTOMIZE HEADER STYLE  */
#kt_header {
  justify-content: flex-end;
}
.kt-header {
  background-color: #1aa76e;
}

.kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon i {
  color: #fff;
}

.kt-header__topbar .kt-header__topbar-item:hover .kt-header__topbar-icon, 
.kt-header__topbar .kt-header__topbar-item.show .kt-header__topbar-icon {
  background-color: #17b978;
}
/*  END:: CUSTOMIZE HEADER STYLE  */

/*  START:: CUSTOMIZE SUBHEADER STYLE  */
.kt-subheader .kt-subheader__main {
  direction: ltr;
}

.kt-subheader .kt-subheader__btn-daterange .kt-subheader__btn-daterange-date,
.kt-subheader .kt-subheader__main .kt-subheader__title
{
  color: #17b978;
}

.kt-svg-icon g [fill] {
  fill: #17b978;
}
/*  END:: CUSTOMIZE SUBHEADER STYLE  */

/* START:: CUSTOMIZE ASIDE STYLE */
.kt-aside__brand {
  background-color: #1aa76e;
}

.kt-aside--minimize .kt-aside__brand .kt-aside__brand-logo img,
.kt-aside--minimize .kt-aside__brand .kt-aside__brand-logo h3 {
  display: none;
}

.kt-grid.kt-grid--hor-desktop.kt-grid--desktop > #kt_aside_brand {
  align-items: center;
}

.kt-grid.kt-grid--hor-desktop.kt-grid--desktop > #kt_aside_brand .kt-aside__brand-logo h3 {
  margin: 0;
}

.kt-grid.kt-grid--hor-desktop.kt-grid--desktop > #kt_aside_brand .kt-aside__brand-logo h3 span {
  color: #444;
  font-weight: 600;
}
/* END:: CUSTOMIZE ASIDE STYLE */

/* START:: CUSTOMIZE ASIDEMENU STYLE*/
.kt-aside-menu {
  background-color: #17b978;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link {
  background-color: #444;
  margin-bottom: 10px;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-icon, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-text, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text {
  color: #fff;
  font-weight: 600;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-text, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
  color: #fff
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
  background-color: #1aa76e;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-icon, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-text, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-text {
  color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link {
  background-color: #444;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__ver-arrow, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__ver-arrow {
  color: #fff;
  font-size: 14px;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading .kt-menu__link-icon, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link .kt-menu__link-icon {
  color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link {
  padding: 15px 30px;
  color: #fff;
  background-color: #1aa76e;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading, 
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link
{
  background-color: #17b978;
}

@media (min-width: 1025px) {
  .kt-aside--minimize .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link > .kt-menu__link-icon {
    color: #fff;
  }
}

/* END:: CUSTOMIZE ASIDEMENU STYLE*/

/* START:: CUSTOMIZE DATATABLE STYLE */
.dataTables_wrapper {
  padding: 2rem !important;
}

.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
  border: 1px solid #dfdfdf;
  margin: 5px;
}

.dataTables_wrapper .dataTables_filter input:focus,
.dataTables_wrapper .dataTables_length select {
  outline: none;
}

.dataTables_wrapper .dataTables_length select option:hover {
  background-color: #ccc !important;
}

table.dataTable.no-footer {
  border: 1px solid #ececec;
}

.table .thead-dark th {
  color: #fff;
}

table.dataTable thead .sorting.action,
table.dataTable thead .sorting_desc.action,
table.dataTable thead .sorting_asc.action {
  background-image: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  background: #17b978;
  border: none;
}

table.dataTable td .kt-badge {
  width: 35px;
  height: 35px;
  margin: 2px;
}

table.dataTable td .kt-badge i {
  font-size: 18px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #fff !important;
  color: #1aa76e !important;
  border: none !important;
  font-weight: 600 !important;
}
/* END:: CUSTOMIZE DATATABLE STYLE */

/* START:: CUSTOMIZE SCROLLTOP STYLE */
.kt-scrolltop {
  background: #17b978;
}
/* END:: CUSTOMIZE SCROLLTOP STYLE */